# IDE
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# Logs
logs/*
!logs/.gitkeep

# Web
src/configs/*
!src/configs/*.example.*
